In [1]:
import quandl
import pandas as pd

In [5]:
quandl.ApiConfig.api_key='58aZ54CyrG1gK875VxVC'
df = quandl.get('WIKI/GOOGL')
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [7]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df['HL_PCT'] = (df['Adj. High']-df['Adj. Close'])/df['Adj. Close'] *100

df['PCT_change'] = (df['Adj. Close']-df['Adj. Open'])/df['Adj. Open'] *100

df = df[['Adj. Close','PCT_change','HL_PCT','Adj. Volume']]

/home/dimension/regression/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df.head()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume
Date
2004-08-19   50.322842    0.324968  3.712563   44659000.0
2004-08-20   54.322689    7.227007  0.710922   22834300.0
2004-08-23   54.869377   -1.227880  3.729433   18256100.0
2004-08-24   52.597363   -5.726357  6.417469   15247300.0
2004-08-25   53.164113    1.183658  1.886792    9188600.0